<%- include("partials/header.ejs") -%>

<center>
<div class="card"> 
    <form class="form" action="/" method="GET">
         <button type="submit" class="dismiss">×</button>
      </form>
    
    <div class="header"> 
      <div class="image">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000" d="M20 7L9.00004 18L3.99994 13"></path> </g></svg>
        </div> 
        <div class="content">
           <span class="title">Attendance Submitted Successfully!</span> 
           <p class="message">Thanks for being part of Do - DeeL Family. One Love</p> 
        </div> 
    <div class="actions">
        <button type="button" style="background-color: #003500;" class="history">Check Today's Views</button> 
        
    </div> 
        </div> 
</div>
</center>

<%- include("partials/footer.ejs") -%>